# Ignore environment and API keys
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
*.env

# IDE files
.vscode/
.idea/

# Images
images/

# Other temporary files
*.log
*.tmp
*.pth
*.pt
.DS_Store

# External libraries or assets
external/

# Character configs
*/configs/characters/
